body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-image
{
    height: 100vh;
    left: 0;
    position: absolute;
    width: 100vw;
}

.card-image > div
{
    height: 100vh;
}

.rounded-circle
{
    width: 200px;
}
